<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <p:growl id="growl" showDetail="true" />
    <p:layout id="layoutSecundario" style="min-width:400px; height:400px;">
        <p:layoutUnit position="north" resizable="false">
            <p:breadCrumb id="bcFinderRevert"> 
                <p:menuitem value="Inicio" ajax="false" action="#{municipalBean.loadNavigation('Inicio')}" immediate="true">
                    <p:confirm header="Confirmación" message="#{bundle['co.gov.minvivienda.siasar.recordatorioSalida']}" icon="ui-icon-alert" />
                </p:menuitem>
            </p:breadCrumb>
        </p:layoutUnit>
        <p:layoutUnit position="west" resizable="false" size="250" minSize="250" maxSize="300">
            <p:panel header="Seleccione la división administrativa">
                <p:row>
                    <p:column style="border: 0;">
                        <p:outputLabel for="paises" value="Paises: " />
                    </p:column>
                </p:row>
                <br/>
                <p:row>
                    <p:column>    
                        <p:selectOneMenu id="paises" value="#{municipalBean.country}" 
                                         style="width:150px">
                            <p:ajax listener="#{municipalBean.onCountryChange}" 
                                    update="layoutSecundario"/>
                            <f:selectItem itemLabel="Seleccione el país" itemValue="" 
                                          noSelectionOption="true" />
                            <f:selectItems value="#{municipalBean.countriesList}" var="country" 
                                           itemValue="#{country.sigla}" 
                                           itemLabel="#{country.abreviatura}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <br/>
                <p:row>
                    <p:column style="border: 0;">    
                        <p:outputLabel for="deptos" value="Departamentos: " />
                    </p:column>
                </p:row>
                <br/>
                <p:row>
                    <p:column>
                        <p:selectOneMenu id="deptos" value="#{municipalBean.secondLevelSeq}"
                                         style="width:150px">
                            <p:ajax listener="#{municipalBean.onSecondLevelChange}"
                                    update="layoutSecundario"/>
                            <f:selectItem itemLabel="Seleccione el departamento" 
                                          itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{municipalBean.departamentosList}" 
                                           var="secondDivision" 
                                           itemValue="#{secondDivision.tdaSeq}" 
                                           itemLabel="#{secondDivision.tdaNome}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <br/>
                <p:row>
                    <p:column style="border: 0;">    
                        <p:outputLabel for="municipios" value="Municipios: " />
                    </p:column>
                </p:row>
                <br/>
                <p:row>
                    <p:column>
                        <p:selectOneMenu id="municipios" value="#{municipalBean.thirdLevelSeq}"
                                         style="width:150px">
                            <p:ajax listener="#{municipalBean.onThirdLevelChange}" update="layoutSecundario"/>
                            <f:selectItem itemLabel="Seleccione el municipio" 
                                          itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{municipalBean.municipiosList}"
                                           var="thirdDivision" 
                                           itemValue="#{thirdDivision.tdaSeq}" 
                                           itemLabel="#{thirdDivision.tdaNome}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <br/>
                <br/>

                <p:row id="rowBotonDeporte">
                    <p:column>
                        <p:commandButton id="botonReporte" value="Reporte Municipal" 
                                         update="layoutSecundario"
                                         rendered="#{municipalBean.booleanConsulta}"
                                         style="width:200px; height:30px;"
                                         icon="ui-icon-search"
                                         actionListener="#{municipalBean.displayReport}" 
                                         /> 
                    </p:column>
                </p:row>
                <br/>
            </p:panel>
        </p:layoutUnit>

        <p:layoutUnit position="center" style="overflow:hidden !important;">
            <p:dataTable id="dtMunicipalResultados" var="municipalOb" rendered="#{municipalBean.resultadosMunicipal}" value="#{municipalBean.municipalInfoList}"
                         emptyMessage="#{bundle['']}"
                         resizableColumns="true"
                         scrollable="false"
                         paginator="#{municipalBean.paginado}" rows="10"
                         paginatorTemplate="{Exporters}"
                         tableStyle="table-layout: auto;"
                         rowKey="#{municipalOb.municipio}">
                <f:facet name="header"> 
                    #{bundle['co.gov.minvivienda.siasar.noResults']}
                </f:facet>
                <f:facet name="footer">
                    <h:outputFormat value="#{bundle['co.gov.minvivienda.siasar.recordsNumer']}">
                        <f:param value="#{fn:length(municipalBean.municipalInfoList)}" />
                    </h:outputFormat>               
                </f:facet>
                <p:column headerText="Departamento" filterBy="#{ municipalOb.departamento}">
                    <p:outputLabel value="#{municipalOb.departamento}" />
                </p:column>
                <p:column filterBy="#{municipalOb.municipio}" headerText="Municipio">
                    <p:outputLabel value="#{municipalOb.municipio}" />
                </p:column>
                <p:column filterBy="#{municipalOb.vereda}" headerText="Numero de Veredas">
                    <p:outputLabel value="#{municipalOb.vereda}" />
                </p:column>
                <p:column filterBy="#{municipalOb.nombreClasePrestador}" headerText="Clase de Prestador">
                    <p:outputLabel value="#{municipalOb.nombreClasePrestador}"/>
                </p:column>
                <p:column filterBy="#{municipalOb.nroClasePrestador}" headerText="Consolidado por clase prestador">
                    <p:outputLabel value="#{municipalOb.nroClasePrestador}"/>
                </p:column>
                <p:column filterBy="#{municipalOb.excretas}" headerText="Excretas">
                    <p:outputLabel value="#{municipalOb.excretas}"/>
                </p:column>
                <p:column filterBy="#{municipalOb.higiene}" headerText="Higiene">
                    <p:outputLabel value="#{municipalOb.higiene}" />
                </p:column>
                <p:column filterBy="#{municipalOb.aguaJabon}" headerText="Agua/Jabón">
                    <p:outputLabel value="#{municipalOb.higiene}" />
                </p:column>
                <p:column filterBy="#{municipalOb.residuosSolidos}" headerText="Residuos Sólidos">
                    <p:outputLabel value="#{municipalOb.residuosSolidos}" />
                </p:column>
            </p:dataTable>
            <p:panelGrid id="btns" columns="2" style="border:0;border-collapse: inherit; margin:auto; width:100%"
                         rendered="#{municipalBean.resultadosMunicipal}">
                <h:commandLink immediate="true" rendered="false">
                    <p:graphicImage library="images" name="excel.png" width="24" />
                    <p:dataExporter type="xls" target="dtMunicipalResultados" fileName="municipal" pageOnly="true"/>
                </h:commandLink>

                <h:commandLink immediate="true" rendered="false">
                    <p:graphicImage library="images" name="pdf.png" width="24" />
                    <p:dataExporter type="pdf" target="dtMunicipalResultados" fileName="municipal" pageOnly="true" />
                </h:commandLink>

                <h:commandLink immediate="true">
                    <p:graphicImage library="images" name="csv.png" width="24" />
                    <p:dataExporter type="csv" target="dtMunicipalResultados" fileName="municipal" pageOnly="true" />
                </h:commandLink>

                <h:commandLink immediate="true" rendered="false">
                    <p:graphicImage library="images" name="xml.png" width="24" />
                    <p:dataExporter type="xml" target="dtMunicipalResultados" fileName="municipal" pageOnly="true" />
                </h:commandLink>
            </p:panelGrid>
        </p:layoutUnit>

        <p:layoutUnit position="south" style="overflow:hidden !important;" >

            <h:panelGrid id="panelCharts" columns="1" rendered="#{municipalBean.resultadosMunicipal}">
                <p:chart type="pie" model="#{municipalBean.pieModel1}" style="width:600px;height:200px">
                    <p:ajax event="itemSelect" listener="#{municipalBean.itemSelect}" update="growl" />
                </p:chart>
            </h:panelGrid>
        </p:layoutUnit>
    </p:layout>

</ui:composition>